// Structure

html,
body {
    height: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;

    -webkit-box-shadow: inset 0 100px 100px $med-teal-alpha;
    box-shadow: inset 0 100px 100px $med-teal-alpha;

    background: #4db6ac; /* Old browsers */
    background: -moz-linear-gradient(left, #4db6ac 0%, #80cbc4 24%, #80cbc4 79%, #4db6ac 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4db6ac), color-stop(24%,#80cbc4), color-stop(79%,#80cbc4), color-stop(100%,#4db6ac)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #4db6ac 0%,#80cbc4 24%,#80cbc4 79%,#4db6ac 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #4db6ac 0%,#80cbc4 24%,#80cbc4 79%,#4db6ac 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #4db6ac 0%,#80cbc4 24%,#80cbc4 79%,#4db6ac 100%); /* IE10+ */
    background: linear-gradient(to right, #4db6ac 0%,#80cbc4 24%,#80cbc4 79%,#4db6ac 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4db6ac', endColorstr='#4db6ac',GradientType=1 ); /* IE6-9 */
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.myodc-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .myodc-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .myodc-container {
        // width: 700px;
    }
}
