
// Colours
$black-color: #151515;
$dark-teal-alpha: rgba(0,77,64,.5);
$med-teal-alpha: rgba(77,182,172,0.5);

// Type
$font-family-brand: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

// MyODC colours
$myodc-color-teal: #4db6ac;
$myodc-color-orange: #E04312;
$myodc-color-light-grey: #E1E2CF;
$myodc-color-light-blue: #B2DEE4;
$myodc-color-white: #FFFFFF;
$myodc-color-black: #151515;
